
body {
  padding-top: 50px;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.bg-hb{
	background-color:#386e9f;
	background-image: linear-gradient( 90deg, #adc9e2, #386e9f );
}

.modal-header{
	background-color:#386e9f;
	background-image: linear-gradient( 90deg, #adc9e2, #386e9f );
	height: 40px;
}

.modal-title{
	line-height: 0.5;
	color: #fff;
	font-weight: 500;
}

.close{
	line-height: 0.1;
	color: #fff;
}

.modal-footer{
	height: 50px;
}

.msg-erro {
    color: red;
}

.msg-sucesso {
    color: green;
}
